.fade-enter {
  transform: translateX(0);
  transform-origin: center;
  transition: all var(--transition-speed) ease-in-out var(--transition-speed);
  opacity: 0;

}

.fade-appear {
  @extend .fade-enter;
}

.fade-enter-active {
  opacity: 0;
  transform: scale(1) translateX(0);
  transform-origin: center;
  transition: all var(--transition-speed) ease-in-out ;

}

.fade-enter-done,
.fade-appear-done {
  @extend .fade-enter-active;
  opacity: 1;

  transition: all var(--transition-speed) ease-in-out;

}

.fade-exit.fade-exit-active,
.fade-exit.fade-leave-active {
  opacity: 0;
  transform: translateX(0);
  transform-origin: center;
  transition: all var(--transition-speed) ease-in-out;
  /*.animation--top {
    animation-name: appearance--top--out;
    animation-duration: var(--transition-speed);
    animation-duration: .6s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-delay: 0s;

  }
  .animation--bottom {
    animation-name: appearance--bottom--out;
    animation-duration: var(--transition-speed);
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-delay: 0s;

  }

  .animation--zoom--out {
    animation-name: zoom--out--out;
    animation-duration: var(--transition-speed);
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-delay: 0s;

  }*/
}
